 body {
  margin: 0;
  background-color: #c6c6c6;
 }

 p {
  margin: 0;
 }

 .wrap {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 375px;
  height: 100vh;
  margin: 0 auto;
 }

 .instargram {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 375px 1fr;
  grid-template-areas: 
  'header'
  'img'
  'footer';
  width: 100%;
  height: 550px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
 }

 .header {
  grid-area: header;
  width: auto;
  height: auto;
  margin: 5px 10px;
  font-weight: bold;
 }

 .img {
  grid-area: img;
  width: 100%;
  height: 100%;
  clear: both;
 }

 .footer {
  grid-area: footer;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 50px auto auto;
  grid-template-areas: 
  'top-left top-center top-right'
  'like like like'
  'comment comment comment';
 }

 .header-left {
  float: left;
  display: flex;
  align-items: center;
 }

 .header-img {
  border-radius: 100%;
  margin-right: 10px;
 }

 .header-right {
  float: right;
  display: flex;
  align-items: center;
  height: 100%;
 }

 .right-menu {
  cursor: pointer;
  user-select: none;
 }

 .top-left {
  grid-area: top-left;
  display: flex;
  font-size: 10px;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
 }

 .top-right {
  grid-area: top-right;
  display: flex;
  font-size: 10px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
 }

 .top-center {
  grid-area: top-center;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
 }

 .like {
  grid-area: like;
  font-size: 12px;
  font-weight: bold;
  margin: 0 10px;
 }

 .comment {
  grid-area: comment;
  font-size: 10px;
  margin: 0 10px;
 }
 
 ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  width: 40%;
 }

 li {
  width: 5px;
  height: 5px;
  border: none;
  background-color: lightgray;
  border-radius: 100%;

 }

 li:first-child {
  background-color: blue;
 }
